* {
    box-sizing: border-box;
    margin: 0;}


table{ 
    width: 90%;
    height: 90vh;
margin: auto; }

td{ 
width: 5%;
height: 8vh}

.border{
    border: 0.5px solid;
    text-align: center;
}

.borderless {border: none;}

.border-naometais{border: 0.5px solid;
    text-align: center;
background-color: rgb(192, 235, 127);}

.border-gasesnobres{border: 0.5px solid;
    text-align: center;
background-color: rgb(69, 125, 230);}

.border-halogenios{border: 0.5px solid;
    text-align: center;
background-color: rgb(69, 192, 230);}

.border-metaisalcalinos{border: 0.5px solid;
    text-align: center;
background-color: rgb(231, 167, 83);}

.border-alcalinosterrosos{border: 0.5px solid;
    text-align: center;
background-color: rgb(231, 216, 76);}

.border-semimetais{border: 0.5px solid;
    text-align: center;
background-color: rgb(56, 150, 110);}

.border-outrosmetais{border: 0.5px solid;
    text-align: center;
background-color: rgb(81, 155, 189);}

.border-transiçao{border: 0.5px solid;
    text-align: center;
background-color: rgb(223, 146, 146);}

.border-lantanideos{border: 0.5px solid;
    text-align: center;
background-color: rgb(59, 182, 190);}

.border-actinidios{border: 0.5px solid;
    text-align: center;
background-color: rgb(192, 142, 192);}



.legenda{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 50px;
}

.item{
    display: inline-block;
    margin-left: 30px;
}

.cor{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.nome{
    font-size: 25px;
}